<div class="ui main text container">
    <h1 class="ui header">chat server</h1>
    <h1>채팅</h1>
    <input type="text" id="chatMsg">
    <button id="btnSend">전송</button>

    <script>
        const socket = new io();

        const chatMsg = document.querySelector("#chatMsg");
        document.querySelector("#btnSend").addEventListener("click", e => {
            let msg = chatMsg.value;
            socket.emit("chat", { msg });


        });

        socket.on("chat-all", data => {
            console.log(data);
        });
    </script>
</div>